/* Global styles */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #0d0d0d;
    color: white; 
  }
 /* Header styles */
 header {
    background-color: #000000; /* Dark gray */
    color: white;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 80px;
    border-bottom: 5px solid #4ce0de;
  }

  header img {
    height: 40px;
  }
  
  nav a {
    color: rgb(0, 255, 238);
    text-decoration: none;
    margin-right: 15px;
    transition: color 0.3s;
  }
  
  nav a:hover {
    text-decoration: underline;
    color: rgb(222, 71, 34); /* Yellow on hover */
    font-size: large;
  }
  
  /* Main styles */
  main {
    padding: 1rem;
  }
  
  /* Section styles */
  section {
    margin-bottom: 2rem;
  }
  
  /* Responsive grid for project categories */
  .grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
  }
  
  /* Footer styles */
  footer {
    padding: 1rem;
    border-top: 1px solid #333;
  }
  
  footer p {
    margin: 0.5rem 0;
  }
  
  /* Button styles */
  button {
    cursor: pointer;
    background: #1f1f1f; /* Dark gray */
    color: white;
    border-radius: 100px;
    border: 1px solid #ffcc00;
    transition: background-color 0.3s, border 0.3s, font-size 0.3s;
    animation: pulsate 1.5s ease-in-out infinite, colorChange 3s ease-in-out infinite;
  }
  
  button:hover {
    font-size: 15px;
    border: 1px solid whitesmoke;
    background-color: #ffcc00; /* Yellow on hover */
    color: black ;
  }
  
  /* Heading styles */
  h1 {
    color: #e51d1d; /* Red */
    font-size: xx-large;
    margin-left: 15px;
  }
  
  h2 {
    color: #13deec; /* Orange */
  }
  
  h3 {
    color: #4caf50; /* Green */
  }
  
  /* Section with black background */
  .text-center-py-16 {
    text-align: center;
    padding: 16px;
    color: white;
    border: 1px solid whitesmoke;
    border-radius: 10px;
    transition: background-color 0.3s;
  }
  
  .text-center-py-16 p {
    margin-left: 15px;
  }
  

  
  /* Heading styles within the black background section */
  .text-center-py-16 h1 {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 1.5rem;
    color: #4caf50; /* Green */
    transition: color 0.3s;
  }
  
  .text-center-py-16 h1:hover {
    color: #fff;
  }
  
  .text-center-py-16 p {
    margin-bottom: 1.5rem;
    color: #999;
    transition: color 0.3s;
  }
  

  
  .text-center-py-16 img:hover {
    opacity: 0.8;
  }
  
  /* Grid styles for the second section */
  .py-8 {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
  
  .grid-cols-4 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
  }
  
  .grid-cols-4 div {
    text-align: center;
    background-color: #4f4f4f; /* Gray */
    padding: 1rem;
    border-radius: 8px;
    transition: background-color 0.3s;
  }
  
  .grid-cols-4 div:hover {
    background-color: #666; /* Darker gray on hover */
  }
  
  .grid-cols-4 h2 {
    font-size: 2rem;
    font-weight: bold;
    color: #ffcc00;
  }

  .grid-cols-4 p {
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    color: #ccc;
  }
  
  .grid-cols-4 div:hover {
    background-color: #666;
  }
  
  .grid-cols-4 h2:hover {
    color: #ffea00;
  }
  
  .grid-cols-4 p:hover {
    color: #eee;
  }
  
  /* Section styles */
  .py-16 {
    background-color: #121212; /* Darker black */
    padding: 2rem;
  }

  /* Paragraph styles */
  .text-center p {
    color: #888;
  }
  
  /* Grid styles */
  .grid-cols-4 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
  }
  
  .grid-cols-4 div {
    background-color: #262626; /* Dark black */
    padding: 1.5rem;
    text-align: center;
    border-radius: 8px;
    transition: background-color 0.3s;
  }
  
  .grid-cols-4 div:hover {
    background-color: #333; /* Darker black on hover */
  }
  
  .grid-cols-4 h3 {
    color: #f1c40f;
  }
  
  .grid-cols-4 p {
    color: #ccc;
  }
  
  .grid-cols-4 svg {
    fill: #3ab76a;
    transition: fill 0.3s;
  }
  
  .grid-cols-4 svg:hover {
    fill: #fff;
  }
  
  /* Footer styles */
  footer {
    background-color: #333; /* Dark gray */
    padding: 2rem 8px;
    border-top: 1px solid #555; /* Darker gray */
  }
  
  .grid-cols-3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
  }
  
  .grid-cols-3 img {
    height: 4.5rem;
    transition: opacity 0.3s;
  }
  /* Footer link styles */
  footer a {
    color: #22c55e;
    transition: color 0.3s;
    cursor: pointer;
  }
  
  footer a:hover {
    color: #1a9850;

  }

  @keyframes colorChange {
    0% {
      background-color: #1f1f1f; /* Dark gray */
      color: white;
    }
    50% {
      background-color: #ffcc00; /* Yellow */
      color: black;
    }
    100% {
      background-color: #1f1f1f; /* Dark gray */
      color: white;
    }
  }
  
  /* Keyframes for footer fading animation */
  @keyframes fadeInOut {
    0%, 100% {
      opacity: 1;
    }
    50% {
      opacity: 0.5;
    }
  }
  